{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container security-form">

        <div class="logo">
            <img src="/images/logo.svg" alt="Logo">
        </div> 

        <div class="login-form">
            <h1 class="h4 mb-4"> Register</h1>

            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.email, {'attr':{'class': 'form form-control', 'placeholder':"example123@gmail.com"}}) }}
                {{ form_row(registrationForm.firstName, {'attr':{'class': 'form form-control'}}) }}
                {{ form_row(registrationForm.lastName, {'attr':{'class': 'form form-control'}}) }}
                {{ form_row(registrationForm.plainPassword, {'attr':{'class': 'form form-control'}}, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms, {'attr':{'class': 'terms mx-2'}}) }}

                <button class="btn btn-lg btn-primary btn-block" type="submit" class="btn">Register</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
