{{ form_start(form) }}
    <label for=""> Subcategory Name </label><br>
    {{ form_widget(form.name, {'attr':{'class': 'w-50 form form-control'}})}}

    <label for=""> Category </label><br>
    {{ form_widget(form.category, {'attr':{'class': 'w-25 form form-control'}})}}
    <button class="btn btn-primary btn-block mt-3" style=" width: 150px;"> {{ button_label|default('Save') }}</button>
{{ form_end(form) }}


