<nav class="navbar navbar-expand-lg" style="background-color: rgba(0, 0, 0, 0.05);">
  <div class="container-fluid" id="container-nav">
    <a class="navbar-brand" href="#">
      <img id="logo-nav" src="/images/nav.svg" alt="Logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarSroll">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{path('app_home')}}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>

        {% if is_granted("ROLE_ADMIN") %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Admin
          </a>

          <style>
            .dropdown-item:hover {
              background-color: #FF6F61;
              border: 1px solid #FF6F61;
              color: #ffffff;
            }
          </style>

          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{ path('app_category')}}">Category</a></li>
            <li><a class="dropdown-item" href="{{ path('app_category_new')}}">Create category</a></li>
            <li><a class="dropdown-item" href="{{ path('app_sub_category_index')}}">Subcategory</a></li>
            <li><a class="dropdown-item" href="{{ path('app_sub_category_new')}}">Create subcategory</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_product_index')}}">Product</a></li>
            <li><a class="dropdown-item" href="{{ path('app_product_new')}}">Create product</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="{{ path('app_user')}}">Users</a></li>
          </ul>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <img src="/images/search.svg" alt="Lupa" width="20">
      </form>
    </div>
  </div>
</nav>