{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}

<div class="container">

    <br><br><h2>Users</h2><br>

    {% include "layout/_flash_message_html.twig" %}

    <table class="table">
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Role</th>
            <th>action</th>
        </tr>

        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>
                {% if ("ROLE_ADMIN" in user.roles) == true %}
                    <p>Administrator</p>
                {% elseif ("ROLE_EDITOR" in user.roles) == true %}
                    <p>Customer</p>
                {% elseif ("ROLE_USER" in user.roles)%}
                    <p>User</p>
                {% endif %}
                </td>
                <td>
                {% if ("ROLE_ADMIN" in user.roles) == false %}
                   
                    {% if ("ROLE_EDITOR" in user.roles) == false %}
                        <a class="btn btn-light" style="width: 200px;" href="{{path('app_user_to_editor', {'id':user.id})}}"> Become a Editor </a> |
                    {% else %}
                        <a class="btn btn-light delete-editor" style="width: 200px;" href="{{path('app_user_remove_editor_role', {'id':user.id})}}"> Remove Editor role </a> |
                    {% endif %}

                    <a class="btn btn-primary btn-block delete-link" style="width: 100px;" data-type="link" href="{{path('app_user_remove', {'id':user.id})}}">Delete</a>

                {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}
